.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  
  
  .hero-logo img {
    
    height: auto;
  }

  .logofb{
    border-radius: 0 0 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    padding: 1em;
    

    @include media($large-screen) {
          padding: 1.2em;
          max-width: 25%;
          background-color: rgba(7, 76, 23, 0.51);
        }

  }

  .hero-inner {
    @include clearfix;
    margin: auto;
    padding: 2em;
    text-align: left;
  

    .hero-text {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 1em;

    
      h1 {
        color: $hero-color;
        font-size: 0.8em;
        line-height: 1;
        text-align: center;

        @include media($large-screen) {
          font-size: 1.3em;
        }
      }

     
    }
  }
}
