.post{
	padding: 50px;
}

.post-content{
	padding: 30px;
	@include span-columns(7);
}

.post-title{
	background-color: white;
	font-size: 1.3em;
	color: #D08A00;
}

.fb-comments{
	background-color: rgba(255, 255, 255, 0.78)
}