.tag {
	display: inline-block;
  
  width: auto;
	height: 38px;
	
	background-color: #E4F331;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #E4F331;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color: black;
	line-height: 38px;
	padding: 0 10px 0 10px;
	font-weight: 600;

	.from{
		font-weight: 200;
	}
}

/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #E4F331;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: black;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}