* {
	margin: 0;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 1.5em;
}

h1 {
	text-align: center;
	line-height: 3;
}

section.sub-nav {
	text-align: center;
	padding: 1em;
	
	> div {
		display: inline-block;
		
		a {
			padding: 0.62em;
			border: 1px solid darkGray;
			border-radius: 4px;
			@include transition-property(all);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in-out);
			
			&:hover {
				background: darkGray;
			}
		}
		
		&.active-slide > a {
			background: darkGray;
		}
	}
}
