table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
    background-color: white;
    color: #5F5F5F
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: center;
  
  font-size: 0.9em;
  @include media(769px) {
    font-size: 1.3em;
  } 
  @include media(1024px) {
    font-size: 1.6em;
  } 
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
  text-align: center;
  font-size: 1em;
  @include media(769px) {
    font-size: 1.4em;
  } 
  @include media(1024px) {
    font-size: 1.6em;
  } 
}

tr,
td,
th {
  vertical-align: middle;
}


.brand{
  padding: 0.2em;
  font-size: 1em;
  text-align: left;
  @include media(769px) {
    font-size: 1.4em;
  } 
  @include media(1024px) {
    font-size: 1.6em;
  } 
}