---
layout: default
---


{% include head.html%}

{% include navbar.html %}

<div class="page">
	
	<div class="texture">
		<h1 class="post-title">{{page.title}} <span>{{page.subtitle}}</span></h1>

	</div>

	<div class="page-content">
		{{content}}
	</div>


	<table cellspacing="0" cellpadding="0">
		<tbody>

			<tr>
			
			{% for post in site.categories['category'] %}
				{% if post.type == page.type %}
				<th>{{page.title | capitalize }}</th>
					{% if post.columns != "custom" %}
						{% for num in (1...post.columns) %}
						<th>{{num}}</th>
						{% endfor %}
					{% else %}
					

			
						{% for col in post.columnsdef %}
						<th>{{col}}</td>
						{% endfor %}
					


					{% endif %}
				{% endif %}
			{% endfor %}
			</tr>
			

			{% for post in site.categories[page.type] %}
			<tr>
				<td class="brand">
					<p>{{ post.title }}</p>	
					<img src="{{ site.baseurl }}/images/{{post.thumbnail}}" alt="{{ post.title }}">
				</td>
				{% for price in post.prices%}
				<td>{{price}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			

		</tbody></table>


			


			
	</div>
</div>