<a href="{% if site.active_lang == site.default_lang %}
{{ post.permalink }}
{%else%}
{{ site.baseurl }}/{{site.active_lang}}{{ post.permalink }}
{% endif%}"

class="flex-box {{post.flex}}">

<div class="flex-content">
  <h1 class="flex-title">{{ post.title }}</h1>
  <p>{{ post.subtitle }}</p>
  <div class="image" style="background-image: url({{ site.baseurl }}/images/{{post.thumbnail}})" >
  </div>
</div>

<div class="bar">

  <div class="seemore">
    <span class="tag"><span class="from">{{post.from}}</span> {{post.fromprice}}</span>
  </div>
  <div class="recomend">
    <div class="fblike">
      <div class="fb-like" 
      data-href="http://www.bestrentmallorca.com/{{post.type | downcase}}" 
      data-width="90px" 
      data-layout="button_count" 
      data-action="recommend" 
      data-show-faces="false" 
      data-share="false"
      data-colorscheme="dark">
    </div>
  </div>
</div>

</div>
</a>