
<section class="slider">
		<nav class="controls">
				<a class="prev" href="#prev">
						<!--Prev-->
						<img src="http://www.jirimaha.com/avg/img/prev.png" alt="Previous slide">
				</a>
				<a class="next" href="#next">
						<!--Next-->
						<img src="http://www.jirimaha.com/avg/img/next.png" alt="Next slide">
				</a>
		</nav>
		<div id="slide-1" class="slide slide-1 active-slide">
				<div class="text-content">
						<h2 class="green">Data Safe 1</h2>
						<p>Data Safe 1 protects you against all the shit which might happen when someone steals your precious notebook with all the stuff that matters to you on it</p>
				</div>
		</div>
		<div id="slide-2" class="slide slide-2 move-right">
				<div class="text-content">
						<h2 class="green">Data Safe 2</h2>
						<p>Data Safe 2 protects you against all the shit which might happen when someone steals your precious notebook with all the stuff that matters to you on it</p>
				</div>
				<div class="image-content">
				</div>
		</div>
		<div id="slide-3" class="slide slide-3 move-right">
				<div class="text-content">
						<h2 class="green">Data Safe 3</h2>
						<p>Data Safe 3 protects you against all the shit which might happen when someone steals your precious notebook with all the stuff that matters to you on it</p>
				</div>
				<div class="image-content">
				</div>
		</div>
		<div id="slide-4" class="slide slide-4 move-right">
				<div class="text-content">
						<h2 class="green">Data Safe 4</h2>
						<p>Data Safe 4 protects you against all the shit which might happen when someone steals your precious notebook with all the stuff that matters to you on it</p>
				</div>
				<div class="image-content">
				</div>
		</div>
</section>
